<% if user_signed_in? %>
  <div class="jumbotron home">
      <div class="herocopy">
          <h1>WELCOME BACK !<br> READY TO ORDER YOUR MEAL ?</h1>
          <div class="button-box">
            <%= link_to "Order now", "#", class: "button-big button-hollow" %>
            <%= link_to "Show me the meals", "#", class: "button-big button-plain" %>
          </div>
      </div>
  </div>
<% else %>
  <div class="jumbotron home">
      <div class="herocopy">
          <h1>GOODBYE JUNK FOOD.<br>HELLO SUPER HEALTHY MEALS.</h1>
          <div class="button-box">
            <%= link_to "Order now", "#", class: "button-big button-hollow" %>
            <%= link_to "Show me the meals", "#", class: "button-big button-plain" %>
          </div>
      </div>
  </div>
  <!-- <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
          </div>
          <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
          </div>
          <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
          </div>
      </div>
  </div> -->
<% end %>
