<!DOCTYPE html>
<html>
  <head>
    <title>LOGOBOT Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>
    <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>
    <!-- Page Content -->
    <%= yield %>
    <!-- Footer -->
    <%= render "shared/footer" %>
  </body>
</html>
